@import "variables";

body{
  font-family:$base-font;
  background:$primary-bg-color;
  font-size:10px;
  color:$base-font-color;
}

h1{
  text-align:center;
  //font-size:3vw;
  margin-top:5vh;
  @include fluid-type(font-size, 600px, 1200px, 21px, 42px);
}
